# Ignore CMake build directories
/build/
cmake/
CMakeCache.txt
cmake_install.cmake

# Ignore vcpkg installation
vcpkg/


# Ignore Visual Studio Code settings (optional, if you don't want to share workspace settings)
.vscode/